# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# VS Code settings
.vscode/

# Image and output folders
results/
*.jpg
*.png

# Logs and system files
*.log
.DS_Store
Thumbs.db
